body {
margin:0;
background-color: lightgray;
}

.searchEngine{
  margin:auto;
  text-align:center;
}

.row{
  margin:2px;
  display:flex;
  flex-wrap:wrap;
}

.col-16{
  flex:10%;
  max-width:16vw;
  justify-content: start;
  background-color:pink;
}

.search-items{
  margin:1em;
}

#results{
}
